{% extends "base.html" %}

{% block head_title %}{{ title  }}| {{ block.super}}{% endblock head_title %}

{% block content %}
<h5>{{ title }}</h5>


{% if errors %}
{{ errors }}
{% endif %}
<form method='POST'> {% csrf_token %}
{{ form.as_p }}
<button type='submit' class="btn btn-default" >Add Profession</button>
{% endblock %}




<!--  <form method='POST' , class="form-vertical"> {% csrf_token %}
	 
    <input type='text' name='name' placeholder="Profession Title" class="col-xs-2" >
       
    <input type='text' name='years_of_experience' placeholder="Experience" class="col-xs-2"">
  
    <input type='text' name='occupation_category' placeholder="Cateogry" class="col-xs-2">
    
    <input type='text' name='technical_skills' placeholder="Skills" class="col-xs-2">
    
    <input type='text' name='seniority' placeholder="Seniority" class="col-xs-2">
    
    
</form>-->




