{% extends "base.html" %}

{% block head_title %}{{ user.username }} | {{ block.super}}{% endblock head_title %}

{% block content %}




<div class='presentationdiv'>
	<div class='slogen'>
		<i>Get Real Life Experience - Start building your career</i>
	</div>
	{% load static %}

</div>
	<div class = 'search'>
		<form class='form' method='GET' action='.'>
		<input id=search_main type='text' size=60em placeholder="Find a team and start working.." name='q' value='{{ request.GET.q }}'>
		<button class='btn btn-sm' type='submit'>Find Your Team</button>
		</form>
	</div>


<h5 style="color:Green;">Recommended Teams for you </h5>
<div class='row'  >
	{% if teams %}
	    {% for team in teams %}
	
	 <div class="left-block">
	  <div class="card card--15" >
	 	 <h5 class="card__title">{{ team.name }}</h5>
	
	 	     <p><span class="glyphicon glyphicon-user"></span><small><font color="blue">Positions</font></small>
  	  {% for position in positions%}
  	  	{% if position.related_team.id == team.id %}
         <font size="2" color="green">{{ position }}</font>
          {% endif %}
            {% endfor %}
	 </p>
	  	<p><span class="glyphicon glyphicon-road"></span><small> <strong>Objective: </strong></small>{{ team.objective }}</p>
  	 	<p><span class="glyphicon glyphicon-paperclip"></span> <small><strong>Team Type:</strong> </small>{{ team.get_type_display}}</p>
 		<p> <span class="glyphicon glyphicon-pencil"></span> <small><strong>Team Industry </strong></small>{{ team.industry }}</p>
 		<p> <span class="glyphicon glyphicon-comment"></span><small> <strong>Team Summary</strong> {{ team.summary}}</small></p>
	  	 
	 	 <a class="card__btn_team" 	href='teammates/detail/{{ team.slug }}/'>{{ team }}</a>
	  </div>   
	</div>
	
		{% endfor %}
	
	{% else %}
	<p class='lead'>No Items Found</p>
	{% endif %}
	</div>
 <h5 style="color:Tomato;">Training Projects</h5>
<div class='row'  >
	{% if projects %}
 	    {% for proj in projects %}

		 <div class="left-block">
		  <div class="card card--15" >
		 	 <h2 class="card__title"> <h5>{{ proj.name }}</h5></h2>
		 	 <img class="card__img" src="https://udemy-images.udemy.com/featured_collections_item/360x220/58_01fb_3.jpg" alt="">
		  	<p class="card__text">  {{ proj.desired_tech }}</p>
		 	 <a class="card__btn" href="" class="">Get Project</a>
		  </div>   
		 </div>

    

		{% endfor %}

	{% else %}
		<p class='lead'>No Items Found</p>
	{% endif %}
</div>


	{% endblock %}