{% extends "base.html" %}
{% block head_title %}
 Teammates List
{%endblock head_title %}
{% block content %}
<h4>Teemates Categories</h4>


	{% for object in object_list %}
	 <li><a href='/teemates-detail/{{ object.slug }}/'>{{ object }}</a><br/>
	<h5>Profession Summary</h5> 
	<li> Seniority:  {{ object.seniority }} 
	<li>	Tech Skills:  {{ object.technical_skills}} 
	<li>	Category: {{ object.occupation_category }}
	<li>	Experience:  {{ object.years_of_experience }}
	

	 {% endfor %}

{% endblock content %}

